<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxq.iov.cloud.sp.vp.entity.status.VehiclePosMapper">

	<resultMap id="vehiclePosResultMap" type="VehiclePos">
		<id column="ID" javaType="Long"  property="id" jdbcType="DECIMAL" />
		<result column="LONGITUDE" jdbcType="DECIMAL" property="longitude"/>
		<result column="LATITUDE" jdbcType="DECIMAL" property="latitude"/>
		<result column="ALTITUDE" jdbcType="DECIMAL" property="altitude"/>
		<result column="HEADING" jdbcType="DECIMAL" property="heading"/>
		<result column="SPEED" jdbcType="DECIMAL" property="speed"/>
		<result column="HDOP" jdbcType="DECIMAL" property="hdop"/>
		<result column="SATELLITES" jdbcType="DECIMAL" property="satellites"/>
		<result column="GPS_TIME" jdbcType="TIMESTAMP" property="gpsTime"/>
		<result column="GPS_STATUS" jdbcType="DECIMAL" property="gpsStatus"/>
		<result column="DESCRIPTION" jdbcType="VARCHAR" property="description"/>
		<result column="STATUS" jdbcType="DECIMAL" property="status"/>
		<result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
		<result column="CREATE_BY" jdbcType="DECIMAL" property="createBy"/>
		<result column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" property="lastUpdateDate"/>
		<result column="LAST_UPDATE_BY" jdbcType="DECIMAL" property="lastUpdateBy"/>
		<result column="ROW_VERSION" jdbcType="DECIMAL" property="rowVersion"/>
		<result column="IS_VALID" jdbcType="DECIMAL" property="isValid"/>
		<association column="VEHICLE_INFO_ID" property="vehicleInfo" javaType="VehicleInfo"
					 select="com.zxq.iov.cloud.sp.vp.entity.status.VehicleInfoMapper.selectOne" />
	</resultMap>
	
	<!-- 分页查询 -->
	<sql id="selectPageTemplate">
		SELECT t.*
		FROM TB_VEHICLE_POS t
		WHERE IFNULL(t.is_valid, 1) = 1
	</sql>	
	<select id="selectPageCount" parameterType="hashmap" resultType="long">
		SELECT COUNT(*) FROM (
		<include refid="selectPageTemplate"/>
		) a
	</select>
	
	<select id="selectPage" parameterType="hashmap" resultMap="vehiclePosResultMap">
        <include refid="selectPageTemplate"/>
        limit #{pageResult.offset}, #{pageResult.pageSize}
    </select>
	<!-- 分页查询 -->

	<!-- 业务查询 -->
    <select id="selectSample" parameterType="VehiclePos" resultMap="vehiclePosResultMap">
        SELECT * FROM TB_VEHICLE_POS t
        WHERE t.is_valid = 1
    </select>

	<select id="selectList" parameterType="hashmap" resultMap="vehiclePosResultMap">
		<include refid="selectPageTemplate"/>
		<if test="vehicleInfoId != null and vehicleInfoId != ''">
			AND VEHICLE_INFO_ID = #{vehicleInfoId,jdbcType=DECIMAL}
		</if>
	</select>

	<select id="selectOne" resultMap="vehiclePosResultMap" parameterType="java.lang.String">
		<include refid="selectPageTemplate"/>
		AND ID = #{id, jdbcType=VARCHAR}
	</select>

</mapper>