<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxq.iov.cloud.sp.vp.entity.status.VehicleInfoMapper">

	<resultMap id="vehicleInfoResultMap" type="VehicleInfo">
		<id column="ID" javaType="Long"  property="id" jdbcType="DECIMAL" />
		<result column="TBOX_ID" jdbcType="DECIMAL" property="tboxId"/>
		<result column="VIN" jdbcType="VARCHAR" property="vin"/>
		<result column="SOURCE_TYPE" jdbcType="DECIMAL" property="sourceType"/>
		<result column="STATUS_TIME" jdbcType="TIMESTAMP" property="statusTime"/>
		<result column="OWNER_ID" jdbcType="VARCHAR" property="ownerId"/>
		<result column="USER_ID" jdbcType="VARCHAR" property="userId"/>
		<result column="DESCRIPTION" jdbcType="VARCHAR" property="description"/>
		<result column="STATUS" jdbcType="DECIMAL" property="status"/>
		<result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
		<result column="CREATE_BY" jdbcType="DECIMAL" property="createBy"/>
		<result column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" property="lastUpdateDate"/>
		<result column="LAST_UPDATE_BY" jdbcType="DECIMAL" property="lastUpdateBy"/>
		<result column="ROW_VERSION" jdbcType="DECIMAL" property="rowVersion"/>
		<result column="IS_VALID" jdbcType="DECIMAL" property="isValid"/>
		<!--<association column="EVENT_ID" property="event" javaType="Event"-->
					 <!--select="com.zxq.iov.cloud.sp.vp.entity.event.EventMapper.selectOne" />-->
	</resultMap>
	
	<!-- 分页查询 -->
	<sql id="selectPageTemplate">
		SELECT t.*
		FROM TB_VEHICLE_INFO t
		WHERE IFNULL(t.is_valid, 1) = 1
	</sql>	
	<select id="selectPageCount" parameterType="hashmap" resultType="long">
		SELECT COUNT(*) FROM (
		<include refid="selectPageTemplate"/>
		) a
	</select>
	
	<select id="selectPage" parameterType="hashmap" resultMap="vehicleInfoResultMap">
        <include refid="selectPageTemplate"/>
        limit #{pageResult.offset}, #{pageResult.pageSize}
    </select>
	<!-- 分页查询 -->

	<!-- 业务查询 -->
    <select id="selectSample" parameterType="VehicleInfo" resultMap="vehicleInfoResultMap">
        SELECT * FROM TB_VEHICLE_INFO t
        WHERE t.is_valid = 1
    </select>

	<select id="selectList" parameterType="hashmap" resultMap="vehicleInfoResultMap">
		<include refid="selectPageTemplate"/>
		<if test="eventId != null">
			AND EVENT_ID = #{eventId,jdbcType=DECIMAL}
		</if>
	</select>

	<select id="selectOne" resultMap="vehicleInfoResultMap" parameterType="java.lang.String">
		<include refid="selectPageTemplate"/>
		AND ID = #{id, jdbcType=VARCHAR}
	</select>

</mapper>