<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <aop:aspectj-autoproxy proxy-target-class="false"/>
    <bean id="cacheAspect" class="com.saicmotor.telematics.framework.core.aspect.RedisCacheAspect"/>
    <bean id="exceptionAspect" class="com.saicmotor.telematics.framework.core.aspect.RpcExceptionAspect"/>

    <dubbo:protocol name="${dubbo.protocol.name}" port="${dubbo.protocol.port}" server="${dubbo.protocol.server}" />

    <!-- 应用配置 -->
    <dubbo:application name="${dubbo.app.name}" organization="${dubbo.app.org}" owner="${dubbo.app.owner}"/>

    <dubbo:monitor protocol="${dubbo.monitor.protocol}"/>

    <dubbo:registry id="zookeeper_registry" protocol="${dubbo.registry.protocol}"
                    address="${dubbo.registry.address}"
                    client="${dubbo.registry.client}" group="${dubbo.group}" />

	<!-- Manager API -->
    <!--<bean id="vehicleManager" class="com.zxq.iov.cloud.sp.vp.mgmt.api.impl.VehicleManagerImpl" />-->
    <!--<dubbo:dao interface="com.zxq.iov.cloud.sp.vp.mgmt.api.IVehicleManager" ref="vehicleManager" version="1.1" retries="0" timeout="30000" connections="${dubbo.vp.client.connections}" registry="${dubbo.dao.registry}"/>-->

    <!-- Biz Service -->
    <bean id="bcallApi" class="com.zxq.iov.cloud.sp.vp.api.impl.BcallApiImpl" />
    <dubbo:service interface="com.zxq.iov.cloud.sp.vp.api.IBcallApi" ref="bcallApi" version="1.0" retries="0" timeout="30000" connections="${dubbo.vp.client.connections}" registry="${dubbo.service.registry}"/>

    <bean id="diagnosticApi" class="com.zxq.iov.cloud.sp.vp.api.impl.DiagnosticApiImpl" />
    <dubbo:service interface="com.zxq.iov.cloud.sp.vp.api.IDiagnosticApi" ref="diagnosticApi" version="1.0" retries="0" timeout="30000" connections="${dubbo.vp.client.connections}" registry="${dubbo.service.registry}"/>

    <bean id="ecallApi" class="com.zxq.iov.cloud.sp.vp.api.impl.EcallApiImpl" />
    <dubbo:service interface="com.zxq.iov.cloud.sp.vp.api.IEcallApi" ref="ecallApi" version="1.0" retries="0" timeout="30000" connections="${dubbo.vp.client.connections}" registry="${dubbo.service.registry}"/>

    <bean id="eventDefinitionApi" class="com.zxq.iov.cloud.sp.vp.mgmt.api.impl.EventDefinitionApiImpl" />
    <dubbo:service interface="com.zxq.iov.cloud.sp.vp.mgmt.api.IEventDefinitionApi" ref="eventDefinitionApi" version="1.0" retries="0" timeout="30000" connections="${dubbo.vp.client.connections}" registry="${dubbo.service.registry}"/>

    <bean id="eventApi" class="com.zxq.iov.cloud.sp.vp.api.impl.EventApiImpl" />
    <dubbo:service interface="com.zxq.iov.cloud.sp.vp.api.IEventApi" ref="eventApi" version="1.0" retries="0" timeout="30000" connections="${dubbo.vp.client.connections}" registry="${dubbo.service.registry}"/>

    <bean id="icallApi" class="com.zxq.iov.cloud.sp.vp.api.impl.IcallApiImpl" />
    <dubbo:service interface="com.zxq.iov.cloud.sp.vp.api.IIcallApi" ref="icallApi" version="1.0" retries="0" timeout="30000" connections="${dubbo.vp.client.connections}" registry="${dubbo.service.registry}"/>

    <bean id="journeyApi" class="com.zxq.iov.cloud.sp.vp.api.impl.JourneyApiImpl" />
    <dubbo:service interface="com.zxq.iov.cloud.sp.vp.api.IJourneyApi" ref="journeyApi" version="1.0" retries="0" timeout="30000" connections="${dubbo.vp.client.connections}" registry="${dubbo.service.registry}"/>

    <bean id="remoteKeyApi" class="com.zxq.iov.cloud.sp.vp.api.impl.RemoteKeyApiImpl" />
    <dubbo:service interface="com.zxq.iov.cloud.sp.vp.api.IRemoteKeyApi" ref="remoteKeyApi" version="1.0" retries="0" timeout="30000" connections="${dubbo.vp.client.connections}" registry="${dubbo.service.registry}"/>

    <bean id="rvcApi" class="com.zxq.iov.cloud.sp.vp.api.impl.RvcApiImpl" />
    <dubbo:service interface="com.zxq.iov.cloud.sp.vp.api.IRvcApi" ref="rvcApi" version="1.0" retries="0" timeout="30000" connections="${dubbo.vp.client.connections}" registry="${dubbo.service.registry}"/>

    <bean id="statusApi" class="com.zxq.iov.cloud.sp.vp.api.impl.StatusApiImpl" />
    <dubbo:service interface="com.zxq.iov.cloud.sp.vp.api.IStatusApi" ref="statusApi" version="1.0" retries="0" timeout="30000" connections="${dubbo.vp.client.connections}" registry="${dubbo.service.registry}"/>

    <bean id="svtApi" class="com.zxq.iov.cloud.sp.vp.api.impl.SvtApiImpl" />
    <dubbo:service interface="com.zxq.iov.cloud.sp.vp.api.ISvtApi" ref="svtApi" version="1.0" retries="0" timeout="30000" connections="${dubbo.vp.client.connections}" registry="${dubbo.service.registry}"/>

    <bean id="tboxConfigApi" class="com.zxq.iov.cloud.sp.vp.api.impl.TboxConfigApiImpl" />
    <dubbo:service interface="com.zxq.iov.cloud.sp.vp.api.ITboxConfigApi" ref="tboxConfigApi" version="1.0" retries="0" timeout="30000" connections="${dubbo.vp.client.connections}" registry="${dubbo.service.registry}"/>

    <dubbo:reference  id="tboxApi" check="false"  interface="com.zxq.iov.cloud.sp.mds.tcmp.api.ITboxApi" version="1.1" />

    <dubbo:reference  id="vehicleApi" check="false"  interface="com.zxq.iov.cloud.sp.mds.tcmp.api.IVehicleApi" version="1.1" />

</beans>