<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <aop:aspectj-autoproxy proxy-target-class="false"/>
    <bean id="cacheAspect" class="com.zxq.iov.cloud.core.aop.RedisCacheAspect"/>
    <bean id="exceptionAspect" class="com.zxq.iov.cloud.core.aop.RpcExceptionAspect"/>

    <dubbo:protocol name="${dubbo.protocol.name}" port="${dubbo.protocol.port}" server="${dubbo.protocol.server}" />

    <!-- 应用配置 -->
    <dubbo:application name="${dubbo.app.name}" organization="${dubbo.app.org}" owner="${dubbo.app.owner}"/>

    <dubbo:monitor protocol="${dubbo.monitor.protocol}"/>

    <dubbo:registry id="zookeeper_registry" protocol="${dubbo.registry.protocol}"
                    address="${dubbo.registry.address}"
                    client="${dubbo.registry.client}" group="${dubbo.group}" />

	<!-- Manager API -->
    <!--<bean id="vehicleManager" class="com.zxq.iov.cloud.sp.vp.mgmt.api.impl.VehicleManagerImpl" />-->
    <!--<dubbo:service interface="com.zxq.iov.cloud.sp.vp.mgmt.api.IVehicleManager" ref="vehicleManager" version="1.1" retries="0" timeout="30000" connections="${dubbo.vp.client.connections}" registry="${dubbo.service.registry}"/>-->

    <!-- Biz Service -->
    <bean id="bcallService" class="com.zxq.iov.cloud.sp.vp.api.impl.proxy.BcallServiceProxy" />
    <dubbo:service interface="com.zxq.iov.cloud.sp.vp.api.IBcallService" ref="bcallService" version="1.0" retries="0" timeout="30000" connections="${dubbo.vp.client.connections}" registry="${dubbo.service.registry}"/>

    <bean id="diagnosticServiceProxy" class="com.zxq.iov.cloud.sp.vp.api.impl.proxy.DiagnosticServiceProxy" />
    <dubbo:service interface="com.zxq.iov.cloud.sp.vp.api.IDiagnosticService" ref="diagnosticServiceProxy" version="1.0" retries="0" timeout="30000" connections="${dubbo.vp.client.connections}" registry="${dubbo.service.registry}"/>

    <bean id="ecallServiceProxy" class="com.zxq.iov.cloud.sp.vp.api.impl.proxy.EcallServiceProxy" />
    <dubbo:service interface="com.zxq.iov.cloud.sp.vp.api.IEcallService" ref="ecallServiceProxy" version="1.0" retries="0" timeout="30000" connections="${dubbo.vp.client.connections}" registry="${dubbo.service.registry}"/>

    <bean id="eventDefinitionService" class="com.zxq.iov.cloud.sp.vp.api.impl.EventDefinitionServiceImpl" />
    <dubbo:service interface="com.zxq.iov.cloud.sp.vp.api.IEventDefinitionService" ref="eventDefinitionService" version="1.0" retries="0" timeout="30000" connections="${dubbo.vp.client.connections}" registry="${dubbo.service.registry}"/>

    <bean id="eventService" class="com.zxq.iov.cloud.sp.vp.api.impl.EventServiceImpl" />
    <dubbo:service interface="com.zxq.iov.cloud.sp.vp.api.IEventService" ref="eventService" version="1.0" retries="0" timeout="30000" connections="${dubbo.vp.client.connections}" registry="${dubbo.service.registry}"/>

    <bean id="icallServiceProxy" class="com.zxq.iov.cloud.sp.vp.api.impl.proxy.IcallServiceProxy" />
    <dubbo:service interface="com.zxq.iov.cloud.sp.vp.api.IIcallService" ref="icallServiceProxy" version="1.0" retries="0" timeout="30000" connections="${dubbo.vp.client.connections}" registry="${dubbo.service.registry}"/>

    <bean id="journeyServiceProxy" class="com.zxq.iov.cloud.sp.vp.api.impl.proxy.JourneyServiceProxy" />
    <dubbo:service interface="com.zxq.iov.cloud.sp.vp.api.IJourneyService" ref="journeyServiceProxy" version="1.0" retries="0" timeout="30000" connections="${dubbo.vp.client.connections}" registry="${dubbo.service.registry}"/>

    <bean id="remoteKeyServiceProxy" class="com.zxq.iov.cloud.sp.vp.api.impl.proxy.RemoteKeyServiceProxy" />
    <dubbo:service interface="com.zxq.iov.cloud.sp.vp.api.IRemoteKeyService" ref="remoteKeyServiceProxy" version="1.0" retries="0" timeout="30000" connections="${dubbo.vp.client.connections}" registry="${dubbo.service.registry}"/>

    <bean id="rvcServiceProxy" class="com.zxq.iov.cloud.sp.vp.api.impl.proxy.RvcServiceProxy" />
    <dubbo:service interface="com.zxq.iov.cloud.sp.vp.api.IRvcService" ref="rvcServiceProxy" version="1.0" retries="0" timeout="30000" connections="${dubbo.vp.client.connections}" registry="${dubbo.service.registry}"/>

    <bean id="statusServiceProxy" class="com.zxq.iov.cloud.sp.vp.api.impl.proxy.StatusServiceProxy" />
    <dubbo:service interface="com.zxq.iov.cloud.sp.vp.api.IStatusService" ref="statusServiceProxy" version="1.0" retries="0" timeout="30000" connections="${dubbo.vp.client.connections}" registry="${dubbo.service.registry}"/>

    <bean id="svtServiceProxy" class="com.zxq.iov.cloud.sp.vp.api.impl.proxy.SvtServiceProxy" />
    <dubbo:service interface="com.zxq.iov.cloud.sp.vp.api.ISvtService" ref="svtServiceProxy" version="1.0" retries="0" timeout="30000" connections="${dubbo.vp.client.connections}" registry="${dubbo.service.registry}"/>

    <bean id="tboxConfigServiceProxy" class="com.zxq.iov.cloud.sp.vp.api.impl.proxy.TboxConfigServiceProxy" />
    <dubbo:service interface="com.zxq.iov.cloud.sp.vp.api.ITboxConfigService" ref="tboxConfigServiceProxy" version="1.0" retries="0" timeout="30000" connections="${dubbo.vp.client.connections}" registry="${dubbo.service.registry}"/>

</beans>