<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxq.iov.cloud.sp.vp.dao.repo.ITaskRepository">

	<resultMap id="eventResultMap" type="Task">
		<id column="ID" javaType="Long"  property="id" jdbcType="DECIMAL" />
		<result column="VIN" jdbcType="VARCHAR" property="vin"/>
		<result column="CODE" jdbcType="VARCHAR" property="code"/>
		<result column="PLATFORM" jdbcType="DECIMAL" property="platform"/>
		<result column="START_TIME" jdbcType="TIMESTAMP" property="startTime"/>
		<result column="END_TIME" jdbcType="TIMESTAMP" property="endTime"/>
		<result column="EXPIRATION_TIME" jdbcType="TIMESTAMP" property="expirationTime"/>
		<result column="SORT" jdbcType="DECIMAL" property="sort"/>
		<result column="ERROR_TYPE" jdbcType="DECIMAL" property="errorType"/>
		<result column="DESCRIPTION" jdbcType="VARCHAR" property="description"/>
		<result column="STATUS" jdbcType="DECIMAL" property="status"/>
		<result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
		<result column="CREATE_BY" jdbcType="DECIMAL" property="createBy"/>
		<result column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" property="lastUpdateDate"/>
		<result column="LAST_UPDATE_BY" jdbcType="DECIMAL" property="lastUpdateBy"/>
		<result column="ROW_VERSION" jdbcType="DECIMAL" property="rowVersion"/>
		<result column="IS_VALID" jdbcType="DECIMAL" property="isValid"/>
		<association column="EVENT_ID" property="event" javaType="Event"
					 select="com.zxq.iov.cloud.sp.vp.dao.repo.IEventRepository.getOne"></association>
		<association column="ACTIVE_TASK_STEP" property="activeTaskStep" javaType="TaskStep"
					 select="com.zxq.iov.cloud.sp.vp.dao.repo.ITaskStepRepository.getOne"></association>
	</resultMap>
	
	<!-- 分页查询 -->
	<sql id="selectPageTemplate">
		SELECT t.*
		FROM TB_TASK t
		and IFNULL(t.is_valid, 1) = 1
	</sql>	
	<select id="selectPageCount" parameterType="hashmap" resultType="long">
		SELECT COUNT(*) FROM (
		<include refid="selectPageTemplate"/>
		) a
	</select>
	
	<select id="selectPage" parameterType="hashmap" resultMap="eventResultMap">
        <include refid="selectPageTemplate"/>
        limit #{pageResult.offset}, #{pageResult.pageSize}
    </select>
	<!-- 分页查询 -->

	<!-- 业务查询 -->
    <select id="selectSample" parameterType="Task" resultMap="eventResultMap">
        SELECT * FROM TB_TASK t
        WHERE t.is_valid = 1
    </select>

</mapper>