<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxq.iov.cloud.sp.vp.entity.event.EventParameterMapper">

	<resultMap id="eventParameterResultMap" type="EventParameter">
		<id column="ID" javaType="Long"  property="id" jdbcType="BIGINT" />
		<result column="TYPE" jdbcType="INTEGER" property="type"/>
		<result column="STEP_INSTANCE_ID" jdbcType="BIGINT" property="stepInstanceId"/>
		<result column="NAME" jdbcType="VARCHAR" property="name"/>
		<result column="VALUE" jdbcType="VARCHAR" property="value"/>
		<result column="DESCRIPTION" jdbcType="VARCHAR" property="description"/>
		<result column="STATUS" jdbcType="INTEGER" property="status"/>
		<result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
		<result column="CREATE_BY" jdbcType="BIGINT" property="createBy"/>
		<result column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" property="lastUpdateDate"/>
		<result column="LAST_UPDATE_BY" jdbcType="BIGINT" property="lastUpdateBy"/>
		<result column="ROW_VERSION" jdbcType="BIGINT" property="rowVersion"/>
		<result column="IS_VALID" jdbcType="INTEGER" property="isValid"/>
		<association column="STEP_INSTANCE_ID" property="stepInstance" javaType="StepInstance"
					 select="com.zxq.iov.cloud.sp.vp.entity.event.StepInstanceMapper.selectOne"/>
	</resultMap>
	
	<!-- 分页查询 -->
	<sql id="selectPageTemplate">
		SELECT t.*
		FROM TB_EVENT_PARAMETER t
		WHERE IFNULL(t.is_valid, 1) = 1
	</sql>	
	<select id="selectPageCount" parameterType="hashmap" resultType="long">
		SELECT COUNT(*) FROM (
		<include refid="selectPageTemplate"/>
		) a
	</select>
	
	<select id="selectPage" parameterType="hashmap" resultMap="eventParameterResultMap">
        <include refid="selectPageTemplate"/>
        limit #{pageResult.offset}, #{pageResult.pageSize}
    </select>
	<!-- 分页查询 -->

	<!-- 业务查询 -->
    <select id="selectSample" parameterType="EventParameter" resultMap="eventParameterResultMap">
        SELECT * FROM TB_EVENT_PARAMETER t
        WHERE t.is_valid = 1
    </select>

	<select id="selectList" parameterType="hashmap" resultMap="eventParameterResultMap">
		<include refid="selectPageTemplate"/>
		<if test="stepInstanceId != null">
			AND STEP_INSTANCE_ID = #{stepInstanceId,jdbcType=BIGINT}
		</if>
		<if test="type != null">
			AND TYPE = #{type,jdbcType=INTEGER}
		</if>
		<if test="name != null and name != ''">
			AND NAME = #{name,jdbcType=VARCHAR}
		</if>
	</select>

	<select id="selectOne" resultMap="eventParameterResultMap" parameterType="java.lang.Long">
		<include refid="selectPageTemplate"/>
		AND ID = #{id,jdbcType=BIGINT}
	</select>

</mapper>