<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxq.iov.cloud.sp.vp.entity.event.TaskDefinitionMapper">

	<resultMap id="taskDefinitionResultMap" type="TaskDefinition">
		<id column="ID" javaType="Long"  property="id" jdbcType="BIGINT" />
		<result column="NAME" jdbcType="VARCHAR" property="name"/>
		<result column="EVENT_DEFINITION_ID" jdbcType="BIGINT" property="eventDefinitionId"/>
		<result column="LIFECYCLE" jdbcType="INTEGER" property="lifecycle"/>
		<result column="PRE_TASK_DEFINITION_ID" jdbcType="BIGINT" property="preTaskDefinitionId"/>
		<result column="CYCLE_LIMIT" jdbcType="INTEGER" property="cycleLimit"/>
		<result column="IS_EXCLUSIVE" jdbcType="INTEGER" property="isExclusive"/>
		<result column="IS_CONTINUE" jdbcType="INTEGER" property="isContinue"/>
		<result column="IS_ROLLBACK" jdbcType="INTEGER" property="isRollback"/>
		<result column="IS_LAST" jdbcType="INTEGER" property="isLast"/>
		<result column="SORT" jdbcType="INTEGER" property="sort"/>
		<result column="DESCRIPTION" jdbcType="VARCHAR" property="description"/>
		<result column="STATUS" jdbcType="INTEGER" property="status"/>
		<result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
		<result column="CREATE_BY" jdbcType="BIGINT" property="createBy"/>
		<result column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" property="lastUpdateDate"/>
		<result column="LAST_UPDATE_BY" jdbcType="BIGINT" property="lastUpdateBy"/>
		<result column="ROW_VERSION" jdbcType="BIGINT" property="rowVersion"/>
		<result column="IS_VALID" jdbcType="INTEGER" property="isValid"/>
		<association column="EVENT_DEFINITION_ID" property="eventDefinition" javaType="EventDefinition"
					 select="com.zxq.iov.cloud.sp.vp.entity.event.EventDefinitionMapper.selectOne"/>
		<association column="PRE_TASK_DEFINITION_ID" property="preTaskDefinition" javaType="TaskDefinition"
					 select="com.zxq.iov.cloud.sp.vp.entity.event.TaskDefinitionMapper.selectOne"/>
	</resultMap>
	
	<!-- 分页查询 -->
	<sql id="selectPageTemplate">
		SELECT t.*
		FROM TB_TASK_DEFINITION t
		WHERE IFNULL(t.is_valid, 1) = 1
	</sql>	
	<select id="selectPageCount" parameterType="hashmap" resultType="long">
		SELECT COUNT(*) FROM (
		<include refid="selectPageTemplate"/>
		) a
	</select>
	
	<select id="selectPage" parameterType="hashmap" resultMap="taskDefinitionResultMap">
        <include refid="selectPageTemplate"/>
        limit #{pageResult.offset}, #{pageResult.pageSize}
    </select>
	<!-- 分页查询 -->

	<!-- 业务查询 -->
    <select id="selectSample" parameterType="EventDefinition" resultMap="taskDefinitionResultMap">
        SELECT * FROM TB_TASK_DEFINITION t
        WHERE t.is_valid = 1
    </select>

	<select id="selectList" parameterType="hashmap" resultMap="taskDefinitionResultMap">
		<include refid="selectPageTemplate"/>
		<if test="eventDefinitionId != null">
			AND EVENT_DEFINITION_ID = #{eventDefinitionId,jdbcType=BIGINT}
		</if>
	</select>

	<select id="selectOne" resultMap="taskDefinitionResultMap" parameterType="java.lang.String">
		<include refid="selectPageTemplate"/>
		AND ID = #{id,jdbcType=BIGINT}
	</select>

</mapper>