<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <aop:aspectj-autoproxy proxy-target-class="false"/>
    <bean id="cacheAspect" class="com.saicmotor.telematics.framework.core.aspect.RedisCacheAspect"/>
    <bean id="exceptionAspect" class="com.saicmotor.telematics.framework.core.aspect.RpcExceptionAspect"/>

    <dubbo:protocol name="${dubbo.protocol.name}" port="${dubbo.protocol.port}" server="${dubbo.protocol.server}" />

    <!-- 应用配置 -->
    <dubbo:application name="${dubbo.app.name}" organization="${dubbo.app.org}" owner="${dubbo.app.owner}"/>

    <dubbo:monitor protocol="${dubbo.monitor.protocol}"/>

    <dubbo:registry id="zookeeper_registry" protocol="${dubbo.registry.protocol}"
                    address="${dubbo.registry.address}"
                    client="${dubbo.registry.client}" group="${dubbo.group}" />

    <!-- Biz Service -->
    <dubbo:reference  id="tboxApi" check="false"  interface="com.zxq.iov.cloud.sp.mds.tcmp.api.ITboxApi" version="1.1" />
    <dubbo:reference  id="vehicleApi" check="false"  interface="com.zxq.iov.cloud.sp.mds.tcmp.api.IVehicleApi" version="1.1" />
    <dubbo:reference  id="userApi" check="false"  interface="com.zxq.iov.cloud.sp.mds.tcmp.api.IUserApi" version="1.1" />
    <!-- 春田还未部署
    <dubbo:reference  id="messageApi" check="false"  interface="com.zxq.iov.cloud.sp.msg.api.IMessageApi" version="1.1" />
    -->

</beans>