<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxq.iov.cloud.sp.vp.entity.rvc.ControlCommandMapper">

	<resultMap id="controlCommandResultMap" type="ControlCommand">
		<id column="ID" javaType="Long"  property="id" jdbcType="DECIMAL" />
		<result column="TBOX_ID" jdbcType="DECIMAL" property="tboxId"/>
		<result column="EVENT_ID" jdbcType="DECIMAL" property="eventId"/>
		<result column="NAME" jdbcType="VARCHAR" property="name"/>
		<result column="CODE" jdbcType="DECIMAL" property="code"/>
		<result column="PARAMETER" jdbcType="VARCHAR" property="parameter"/>
		<result column="IS_CANCEL" jdbcType="DECIMAL" property="isCancel"/>
		<result column="FAILURE_TYPE" jdbcType="DECIMAL" property="failureType"/>
		<result column="DESCRIPTION" jdbcType="VARCHAR" property="description"/>
		<result column="STATUS" jdbcType="DECIMAL" property="status"/>
		<result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
		<result column="CREATE_BY" jdbcType="DECIMAL" property="createBy"/>
		<result column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" property="lastUpdateDate"/>
		<result column="LAST_UPDATE_BY" jdbcType="DECIMAL" property="lastUpdateBy"/>
		<result column="ROW_VERSION" jdbcType="DECIMAL" property="rowVersion"/>
		<result column="IS_VALID" jdbcType="DECIMAL" property="isValid"/>
	</resultMap>
	
	<!-- 分页查询 -->
	<sql id="selectPageTemplate">
		SELECT t.*
		FROM TB_CONTROL_COMMAND t
		WHERE IFNULL(t.is_valid, 1) = 1
	</sql>	
	<select id="selectPageCount" parameterType="hashmap" resultType="long">
		SELECT COUNT(*) FROM (
		<include refid="selectPageTemplate"/>
		) a
	</select>
	
	<select id="selectPage" parameterType="hashmap" resultMap="controlCommandResultMap">
        <include refid="selectPageTemplate"/>
        limit #{pageResult.offset}, #{pageResult.pageSize}
    </select>
	<!-- 分页查询 -->

	<!-- 业务查询 -->
    <select id="selectSample" parameterType="ControlCommand" resultMap="controlCommandResultMap">
        SELECT * FROM TB_CONTROL_COMMAND t
        WHERE t.is_valid = 1
    </select>

	<select id="selectList" parameterType="hashmap" resultMap="controlCommandResultMap">
		<include refid="selectPageTemplate"/>
		<if test="eventId != null">
			AND EVENT_ID = #{eventId,jdbcType=DECIMAL}
		</if>
	</select>

	<select id="selectOne" resultMap="controlCommandResultMap" parameterType="java.lang.Long">
		<include refid="selectPageTemplate"/>
		AND ID = #{id, jdbcType=DECIMAL}
	</select>

</mapper>